---
import { getCollection, getEntryBySlug } from "astro:content";
import "../../styles/global.css";
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map((project:any) => ({
        params: { project: project.slug },
        props: { project },
    }));
}

const { project } = Astro.params;
const post = await getEntryBySlug('projects', project);


if (!post) {
    throw new Error(`Project not found: ${project}`);
}
console.log(post);
---

<Layout>
    <Header />
    <div class="project-page">
        <h1>{post.data.title}</h1>
        <p>{post.data.description}</p>
        <div class="images">
            {post.data.images_project.map((image:any) => (
                <img src={image.images} alt={post.data.title} />
            ))}
        </div>
    </div>
    <img src="/src/assets/images/burger-1.webp" alt="">
</Layout>

